.elementor-36 .elementor-element.elementor-element-1d04037a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-5fce3dd9 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-66e9f1a1 {
    text-align: center;
}

.elementor-36 .elementor-element.elementor-element-66e9f1a1 .elementor-heading-title {
    color: #7E9813;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.elementor-36 .elementor-element.elementor-element-66e9f1a1>.elementor-widget-container {
    margin: -46px 0px 0px 0px;
}

.elementor-36 .elementor-element.elementor-element-5f272635 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-cee5c40 {
    text-align: center;
}

.elementor-36 .elementor-element.elementor-element-cee5c40 .elementor-heading-title {
    color: #7E9813;
}

.elementor-36 .elementor-element.elementor-element-6356c42a>.elementor-widget-container {
    margin: -14px 0px 0px 0px;
}

.elementor-36 .elementor-element.elementor-element-deb911f {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-29e66b45 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-1b31363a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-7cfa4c3e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-48ad044a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-5717d682 {
    --spacer-size: 186px;
}

.elementor-36 .elementor-element.elementor-element-e8e7252 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-318bcaac {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-7cfd1426 {
    --spacer-size: 94px;
}

.elementor-36 .elementor-element.elementor-element-610e2fd2 {
    --spacer-size: 110px;
}

body.elementor-page-36:not(.elementor-motion-effects-element-type-background),
body.elementor-page-36>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
}

@media(max-width:767px) {
    .elementor-36 .elementor-element.elementor-element-5fce3dd9 {
        --margin-block-start: 8px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
    }
}